body {
    text-align: center;
}

#books-container {
    display: flex;
    flex-direction: row;
}

.new-book {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

#add-book-button {
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin-left: 0px;
}

.invisibility {
    display: none;
}

#new-book-container {
    
}