body{
    background-color: #36d9be;
    color: black;
}
h1, h2 {
    text-align: center;
}

#new-book-button {
    margin: 0 auto;
    display: block;
}

#books-container {
    display: flex;
    flex-direction: row;
}

.new-book {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #d95936;
    border-radius: 15%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

#new-book-form {
    margin: auto;
    margin-bottom: 20px;
    width: 500px;
    height: 200px;
    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

input {
    width: 200px;
}

.delete-button{
    margin: 0 auto;
    display: block;
    background-color: #d9ab36;
    border-color: #d9ab36;
    border-width: 0px;
    height: 25px;
    width: 250px;
}

.invisibility {
    display: none;
}